html, body {
	width: 100%;
	height: 100%;
	/*opacity: 0.5; */
}

body {
	margin-left: -0.1px;
}

img {
	width: 100%;
	height: 50%;
	/* Mit dieser Kode Linie gibt es keine Verzerrung */
	object-fit: cover; 
}

div, header, nav, aisde, footer {
	/*border: 1px solid blue;*/
	/*margin-bottom: 5px;*/
	/*border-collapse: collapse;*/
	box-sizing: border-box;
}

header, nav, footer {
	width: 100%;
}

header {
	height: 20%;
}

nav {
	padding-left: 2%;
	background-color: skyblue;
	height: 20%;
}

footer {
	float: left;
	height: 15%;
	color: #47a;
	font-size: 1.0em;
}

a#fLink {
	color: #47a;
	font-size: 1.0em;
	text-decoration: none;
}

a#fLink:hover {
	color: #147;
	text-decoration: underline;
}

div#inhalt, aside {
	float: left;
	height: 65%;
}

div#inhalt {
	padding-left: 2%;
	width: 80%;
	background-color: gold;
}

aside {
	background-color: lightgrey;
	width: 20%;
}